.login {
    width: 100%;
    height: 100%;
    margin-top: 18vh;
    display: flex;
    justify-content: center;
}
.form-group {
    padding-bottom: 10px;
}
.login h2 {
    display: flex;
    justify-content: center;
}
.login button {
    display: flex;
    justify-content: center;
}
