.card-rental {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-evenly;
}
.card-rental img {
    margin-top: 15vh;
    min-width: 30vw;
    height: 40vh;
}
.card-rental-body {
    margin-top: 10vh;
}
.rental-options input{
    margin-bottom: 10px;
}
.rental-options button {
    margin-top: 10px;
    width: 100%;
}